* {
    padding: 0%;
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.purple {
    color: purple;
}

.blue,
.red,
.purple {
    font-size: 22px;
}
