* {
    padding: 0%;
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.purple {
    color: purple;
}

.blue,
.red,
.purple {
    font-size: 22px;
}


.unordered {
    text-align: center;
    margin: 15px 5px;
}

img {
    width: 500px;
    height: 300px;
    margin: 15px;
}

h5 {
    text-align: center;
    margin: 15px;
    padding: 15px;
    font-size: 15px;
}

h5 .btn {
  background: none;
  border-radius: 12px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}


h5 .btn-1 {
    color: black;
    background-color: grey;
}